In [27]:
import pymysql

In [28]:
conn = pymysql.connect(host = "127.0.0.1", user = "root", password = "1111", db = "foodie", port = 3306)

In [29]:
cur = conn.cursor()

In [30]:
title = ['밑반찬', '메인반찬', '국/탕', '찌개', '디저트', '면/만두', '밥/죽/떡', '퓨전', '김치/젓갈/장류', '양념/소스/잼', '기타']

In [31]:
for i in title:
    cur.execute(f"INSERT INTO category (CATEGORY_NAME) VALUES ('{i}')")
    conn.commit()